<div class="container-fluid">
  <img class="logo" src="\assets\images\logo.png">
  <div class="header">
    <p class="header-content">
      We are Hiring - <span (click)="navigateToApplyNow()">Apply now!! </span>
    </p>
    <img src="\assets\images\headerimage.png" alt="" class="header-img" />
  </div>
  <hr />
  <h2>Available jobs!!</h2>
  <br />
  <div class="row">
    <mat-accordion class="col-md-6" *ngFor="let job of jobOpportunities">
      <mat-expansion-panel class="accordion-panel">
        <mat-expansion-panel-header class="accordion-header">
          <strong> {{ job.jobposition }} </strong>
        </mat-expansion-panel-header>
        <p class="accordion-description"> <strong>Required Skills:</strong>{{ job.jobDescription }}</p>
        <p class="accordion-description"> <strong> Required Experience:</strong>{{ job.jobDescription }}</p>
        <p class="accordion-description"> <strong>Job Location:</strong>{{ job.jobDescription }}</p>
        <p class="accordion-description"> <strong>Job Description:</strong>{{ job.jobDescription }}</p>
        <button mat-button class="apply-button" color="primary" (click)="navigateToApplyNow()">Apply Now</button>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>

