<app-header></app-header>
<form [formGroup]="jobForm" (ngSubmit)="onSubmit()" class="job-form">
  <mat-card class="form-card">
    <mat-card-content>
      <h2 class="form-title">Add new Job position</h2>
      <mat-form-field class="form-field">
        <input
          matInput
        />
        <mat-error *ngIf="jobForm.get('jobTitle').hasError('required')"
          >Job Title is required</mat-error
        >
      </mat-form-field>
      <mat-form-field class="form-field">
        <input
          matInput
          formControlName="jobTitle"
          placeholder="Job Title"
        />
        <mat-error *ngIf="jobForm.get('jobTitle').hasError('required')"
          >Job Title is required</mat-error
        >
      </mat-form-field>
      <mat-form-field class="form-field">
        <input
          matInput
          formControlName="workLocation"
          placeholder="Work Location"
        />
        <mat-error *ngIf="jobForm.get('workLocation').hasError('required')"
          >Work Location is required</mat-error
        >
      </mat-form-field>
      <mat-form-field class="form-field">
        <input
          matInput
          formControlName="requiredSkills"
          placeholder="Required Skills"
        />
        <mat-error *ngIf="jobForm.get('requiredSkills').hasError('required')"
          >Required Skills are required</mat-error
        >
      </mat-form-field>
      <mat-form-field class="form-field">
        <mat-label>Select an option</mat-label>
        <mat-select formControlName="status" placeholder="Status">
          <mat-option>None</mat-option>
          <mat-option value="Active">Active</mat-option>
          <mat-option value="Not Active">Not Active</mat-option>
        </mat-select>
        <mat-error *ngIf="jobForm.get('status').hasError('required')"
          >Status is required</mat-error
        >
      </mat-form-field>
      <mat-form-field class="form-field">
        <input
          matInput
          formControlName="requiredExperience"
          placeholder="Required Experience"
        />
        <mat-error
          *ngIf="jobForm.get('requiredExperience').hasError('required')"
          >Required Experience is required</mat-error
        >
      </mat-form-field>
      <mat-form-field class="form-field">
        <textarea
          matInput
          formControlName="jobDescription"
          placeholder="Job Description"
        ></textarea>
        <mat-error *ngIf="jobForm.get('jobDescription').hasError('required')"
          >Job Description is required</mat-error
        >
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">Post Job</button>
    </mat-card-content>
  </mat-card>
</form>
