.header {
  display: flex;
  height: 200px;
  width: 100%;
  border-left: 15px solid slateblue;
  font-weight: bold;
  justify-content: space-between;
}
h2 {
  font-size: 2rem;
  padding-left: 20px;
  padding-top: 80px;
}
span {
  font-weight: bold;
  color: slateblue;
  font-size: 2rem;
  padding-left: 10px;
  text-decoration: underline;
}
.header-img {
  height: 200px;
  width: auto;
  margin-right: 10px;
}
.content {
  background-color: rgb(182, 178, 213);
}
.job-post-form {
  max-width: 490px;
  margin: auto;
  background-color: white;
  color: black;
  margin-top: 80px;
  border: 1px solid black;
}

.mat-card-header {
  background-color: white;
  color: purple;
  padding: 8px;
}
mat-card-title {
  padding: 20px;
  color: blueviolet;
  font-weight: bold;
}

mat-form-field {
  width: 100%;
  margin-bottom: 16px;
}

button[type="submit"] {
  margin-top: 16px;
  color: blueviolet;
}
