<img src="\assets\images\logo.png" alt="" class="logo">
<mat-card>
  <mat-card-header>
    <mat-card-title style="padding: 20px;font-weight: bold;">Welcome</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="adminForm">
      <mat-form-field appearance="outline">
        <mat-label floatLabel="auto">Username</mat-label>
        <input matInput  type="text" placeholder="Username" formControlName="username" required>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label floatLabel="auto">Password</mat-label>
        <input matInput  type="password" formControlName="password" placeholder="password" required>
      </mat-form-field>
      <div  *ngIf = "checkvariable" class="errorStatement">Enter Valid username or Password </div>
      <button mat-raised-button style="color: #1E80A3" type="submit" (click)="login()">Login</button>
    </form>
  </mat-card-content>
</mat-card>

