<mat-card>
    <mat-card-header>
      <mat-card-title style="padding: 20px;font-weight: bold;">welcome Back!!</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form (ngSubmit)="login()">
        <mat-form-field>
          <input matInput type="text" name="username" placeholder="Username" [(ngModel)]="username" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="password" name="password" [(ngModel)]="password" placeholder="Password" required>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Login</button>
      </form>
    </mat-card-content>
  </mat-card>
