.logo {
  margin-bottom: 20px;
  margin-top: 10px;
  margin-left: 10px;
}

mat-card {
  max-width: 400px;
  margin: auto;
  margin-top: 100px;
  padding: 20px;
  border: 1px solid black;
  box-shadow: 0.1px 0.1px 0.1px 0.1px rgb(183, 138, 222);
}
mat-card-title {
  font-weight: bold;
  padding: 20px;
}

mat-card-header {
  text-align: center;
  font-weight: bold;
}

mat-form-field {
  width: 100%;
  margin-bottom: 20px;
}
mat-form-field:hover {
  border-radius: 20px;
}

button {
  width: 100%;
}
