<header>
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-3 col-3">
        <div class="logo">
          CresenSolutions
        </div>
      </div>
      <div class="col-md-9 col-sm-9 col-9 text-end">
        <div class="menu_icon" (click)="openMenu()">
          <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
          </button>
        </div>
        <div class="menu" [class.menuClass]="menuVariable">
          <ul>
            <li (click)="navigateto(1)">Dashboard</li>
            <li (click)="navigateto(2)">ManageJobs</li>
            <li>New Job</li>
            <li>View Applications</li>
            <li>Sign Out</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>